

<div>
    <div *ngIf="loading" class="loadingOverlay"></div>
    <section class="bg_white_contact">
        <div class="container">

            <div class="row row_mar0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile_pdlt0 mobile_pdrt0">
                    <h3 class="text-center mar_btm30 pay_login mar_top0 col-md-4 col-sm-6 col-xs-10 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
                        MAF PAYMENT LOGIN<br>
                        <small class="text-lowercase font12 mar"><span class="mar_rt10">powered by CallPass Tech.</span><img alt="" src="images/callpass.jpg" width="80"></small>
                    </h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3 class="mar_top0small">Easy and Convenient</h3>
                    <p>Make your car payments online it's easy! Simply click on the "Create Account" link and follow the steps through the verification process. Once your account is verified, you can easily managing your account. Make one-time payments, setup AutoPay or view your account balance at your convenience!.</p>
                    <h3>Account Management</h3>
                    <p>CallPass Tech, provides our processing system allowing you to manage your account online and make your payments using your debit, credit or checking account.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 acc_serv">
                    <form name="from" class="login_bg">
                       
                        <div class="form-group">
                            <label>Account Number</label>
                            <input type="text" name="Accno"  placeholder="Account Number" class="form-control" id="" [(ngModel)]="model.AccountNumber" >
                           
                        </div>
                        <div class="form-group">
                            <label>Email (username)</label>
                            <input type="email"  name="email" class="form-control" id="" [(ngModel)]="model.Email" placeholder="Email/Username" >

                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input  type="password"  name=" password" placeholder="Password" [(ngModel)]="model.Password" class="form-control" id="" >
                         

                        </div>
                        <div class="custom_check col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_rt0 pad_lt20 mar_btm10">
                            <input type="checkbox" name="remember"  id="c1"><label for="c1" class="font_color1">Remember Me</label>


                        </div>
                        <div class="form-group text-left">

                            <button (click)="login()" class="btn btn-default mar_rt20 width_half"  type="button" data-toggle="modal"  data-target="#myModal">

                                Login
                            </button>
                            <a  style=" cursor: pointer;" class="line_ht30">forgot password?</a>
                        </div>
                       
                        <p>Not registered yet? <a  style=" cursor: pointer;">Create Account</a></p>
                        <div class="customer_servicebox"><p>For questions or comments regarding to your payments please contact customer service at 800.793.9661 x600</p></div>
                        <div class="login_logobox text-center mar_top10"><img src="images/callpass.jpg" class="mar_rt10" /><img src="images/global_sign.jpg" /></div>
                    </form>
                </div>
            </div>
        </div >
        
    </section>
</div>





